@use "../utilities/variable" as *;
@use "../utilities/mixin" as *;

$icon-button-sizes: (
    microsmall: 24px,
    supersmall: 28px,
    extrasmall: 32px,
    small: 36px,
    medium: 40px,
    large: 44px,
    extralarge: 48px,
);

.pnpnm-top-level-wrapper {
    .pn-icon-button {
        position: relative;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        user-select: none;
        font-family: $primary-font;
        transition: all 0.3s ease;
        background: transparent;

        @each $size, $value in $icon-button-sizes {
            &.pn-icon-button--#{$size} {
                width: $value;
                height: $value;
            }
        }

        &.pn-icon-button--default {
            color: $black;

            &:hover {
                background-color: $light;
            }
            &:focus {
                background-color: $light;
            }
        }

        &.pn-icon-button--primary {
            color: $white;
            background-color: $primary;

            &:hover {
                background-color: $hover;
            }
            &:focus {
                background-color: $primary;
            }
        }

        &.pn-icon-button--secondary {
            color: $black;
            background-color: $secondary;

            &:hover {
                background-color: $light;
            }
            &:focus {
                background-color: $secondary;
            }
        }

        &.pn-icon-button--light {
            color: $black;
            background-color: $extralight;
            border: 1px solid $light;

            &:hover {
                background-color: $light;
            }
            &:focus {
                background-color: $light;
            }
        }

        &.pn-icon-button--outlined {
            color: $black;
            border: 1px solid $light;

            &:hover {
                background-color: $extralight;
            }
            &:focus {
                background-color: $extralight;
            }
        }

        &.pn-icon-button--white {
            color: $primary;
            background-color: $white;

            &:focus {
                background-color: $white;
            }
        }

        &.pn-icon-button--warning {
            color: $warning;
            background-color: hsl(from $warning h s l / 15%);

            &:hover {
                background-color: $warninglight;
            }
            &:focus {
                background-color: hsl(from $warning h s l / 15%);
            }
        }

        &.pn-icon-button--error {
            color: $error;
            background-color: hsl(from $error h s l / 15%);

            &:hover {
                background-color: $errorlight;
            }
            &:focus {
                background-color: hsl(from $error h s l / 15%);
            }
        }

        &.pn-icon-button--link {
            color: $black;
            background: none;
            border: none;
            padding: 0;
            text-decoration: none;
            width: auto;
            height: auto;

            &:focus {
                background-color: transparent;
            }

            &:after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 1px;
                background-color: currentColor;
            }
        }

        &.pn-icon-button--transparent {
            color: $primary;
            background: none;
            border: none;

            &:focus {
                background-color: transparent;
            }
        }

        &.pn-icon-button--disabled {
            cursor: not-allowed;
            opacity: 0.6;
        }
    }
}
